@{
    ViewData["Title"] = "About Us";
}

<div class="container text-center">
    <h1 class="my-4">About TrendIota</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="~/images/Logo.png" alt="TrendIota Team" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <p class="lead">
                At <strong>TrendIota</strong>, we believe that fashion should be both stylish and functional.
                Our premium collection of bags is designed for the modern trendsetter who values quality and innovation.
            </p>
            <p>
                Headquartered in **Toronto, Canada**, our team of designers and engineers work tirelessly to create the perfect fusion of aesthetics and usability.
            </p>
            <p><strong>Why Choose Us?</strong></p>
            <ul class="list-unstyled">
                <li>✔ High-Quality Materials</li>
                <li>✔ Unique & Trendy Designs</li>
                <li>✔ 100% Customer Satisfaction</li>
            </ul>
            <a href="/Product/Index" class="btn btn-dark mt-3">Explore Our Collection</a>
        </div>
    </div>
</div>
